body{
    font-family: 'Courier New', Courier, monospace',
}

.container{
    border: 1px solid;
    background-color: white;
    margin: 5px;
    display: flex;
}

.container-flex{
    display: flex;
    flex-flow: column wrap;
}